:root {
  /* Colors */
  --core-heat-black: #17181d;
  --core-heat-black-rgb: 23, 24, 29;
  --core-heat-black-gradient: linear-gradient(180deg, #17181d 0%, #0e0f11 100%);

  --core-heat-white: #ebf4f7;
  --core-heat-white-rgb: 235, 244, 247;
  --core-divider-gradient-left: linear-gradient(
    90deg,
    rgba(235, 244, 247, 0.24) 0%,
    rgba(235, 244, 247, 0) 100%
  );

  --core-outer-glow-white: 0px 0px 8px rgba(235, 244, 247, 0.6);

  /* Desktop Font */
  --desktop-gt-super-h1: 300 160px/176px "GT Super Display";
  --desktop-gt-super-h2: 300 128px/144px "GT Super Display";
  --desktop-gt-super-h3: 300 96px/104px "GT Super Display";
  --desktop-gt-super-h4: 300 64px/72px "GT Super Display";

  --desktop-diatype-h1: 400 160px/168px "ABC Diatype";
  --desktop-diatype-h2: 400 128px/136px "ABC Diatype";
  --desktop-diatype-h3: 400 96px/100px "ABC Diatype";
  --desktop-diatype-h4: 400 64px/72px "ABC Diatype";
  --desktop-diatype-h5: 400 48px / normal "ABC Diatype";

  --desktop-diatype-s1: 400 32px/40px "ABC Diatype";
  --desktop-diatype-s2: 400 24px/28px "ABC Diatype";

  --desktop-diatype-b1: 400 20px/28px "ABC Diatype";
  --desktop-diatype-b2: 400 16px/20px "ABC Diatype";

  --desktop-diatype-cta: 500 16px / normal "ABC Diatype";
  --desktop-diatype-legals: 400 12px/16px "ABC Diatype";

  /* Mobile Font */
  --mobile-gt-super-h1: 300 80px/80px "GT Super Display";
  --mobile-gt-super-h2: 300 64px/68px "GT Super Display";
  --mobile-gt-super-h3: 300 48px/48px "GT Super Display";
  --mobile-gt-super-h4: 300 36px/40px "GT Super Display";

  --mobile-diatype-h1: 400 80px/80px "ABC Diatype";
  --mobile-diatype-h2: 400 64px/68px "ABC Diatype";
  --mobile-diatype-h3: 400 48px/48px "ABC Diatype";
  --mobile-diatype-h4: 400 36px/40px "ABC Diatype";

  --mobile-diatype-s1: 400 24px/28px "ABC Diatype";
  --mobile-diatype-s2: 400 20px/24px "ABC Diatype";

  --mobile-diatype-b1: 400 16px/20px "ABC Diatype";
  --mobile-diatype-b2: 400 14px/20px "ABC Diatype";

  --mobile-diatype-cta: 500 14px/18px "ABC Diatype";
  --mobile-diatype-legals: 400 10px / normal "ABC Diatype";
}

body {
  background: var(--core-heat-black);
}

.collection {
  position: relative;
  color: var(--core-heat-white);
  background: var(--core-heat-black-gradient);
}

.collection__wrapper {
  position: relative;
  z-index: 1;
  padding-left: 80px;
  padding-right: 80px;
}

.collection__wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1012px) {
  .collection__wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 544px) {
  .collection__wrapper {
    max-height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
    scroll-padding-top: calc(var(--global-header-height) + 8px);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .collection__wrapper::-webkit-scrollbar {
    display: none;
  }
}

.collection__header {
  top: 0;
  position: sticky;
  margin-bottom: 148px;
  text-align: center;
  scroll-snap-align: start;
}

@media (max-width: 1012px) {
  .collection__header {
    position: relative;
    margin-bottom: 40px;
  }
}

.collection__subheading {
  color: rgba(var(--core-heat-white-rgb), 0.6);
  font: var(--desktop-diatype-b2);
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (max-width: 1012px) {
  .collection__subheading {
    font: var(--mobile-diatype-b2);
    margin-bottom: 16px;
  }
}

.collection__heading {
  color: var(--core-heat-white);
  font: var(--desktop-gt-super-h3);
  text-transform: uppercase;
}

@media (max-width: 1012px) {
  .collection__heading {
    font: var(--mobile-gt-super-h4);
  }
}

.collection__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1012px) {
  .collection__cards {
    gap: 12px;
  }
}

.collection__card {
  position: relative;
  width: 100%;
  background: var(--core-heat-black);
  aspect-ratio: 1760/880;
  border-radius: 24px;
  max-height: calc(100vh - var(--global-header-height) - 12px - 80px);
  transition: border-radius 1000ms ease, scale 500ms ease;
}

@media (max-width: 1012px) {
  .collection__card {
    border-radius: 12px;
  }
}

.collection__card:hover {
  border-radius: 32px;
}

@media (max-width: 1012px) {
  .collection__card:hover {
    border-radius: 24px;
  }
}

.collection__card:active {
  scale: 0.98;
}

@media (max-width: 1012px) {
  .collection__card {
    aspect-ratio: 366/480;
    border-radius: 12px;
    scroll-snap-align: start;
  }
}

.collection__card-swiper {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: 1px solid var(--core-heat-white);
  box-shadow: 0px 4px 24px 0px rgba(23, 24, 29, 0.8);
  transition: border-radius 1000ms ease;
}

@media (max-width: 1012px) {
  .collection__card-swiper {
    border-radius: 12px;
  }
}

.collection__card:hover .collection__card-swiper {
  border-radius: 32px;
}

@media (max-width: 1012px) {
  .collection__card:hover .collection__card-swiper {
    border-radius: 24px;
  }
}

.collection__card-swiper:after {
  content: "";
  position: absolute;
  z-index: 1;
  background: radial-gradient(
      36.3% 29.44% at 95.17% 100%,
      rgba(11, 11, 13, 0.4) 0%,
      rgba(23, 24, 29, 0) 100%
    ),
    linear-gradient(360deg, rgba(11, 11, 13, 0.2) 0%, rgba(23, 24, 29, 0) 100%),
    radial-gradient(
      206.16% 70.71% at 0% 100%,
      rgba(11, 11, 13, 0.8) 0%,
      rgba(23, 24, 29, 0) 100%
    ),
    linear-gradient(45deg, rgba(11, 11, 13, 0.4) 0%, rgba(23, 24, 29, 0) 100%);
  opacity: 0.75;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  pointer-events: none;
  transition: opacity 1000ms ease, border-radius 1000ms ease;
}

@media (max-width: 1012px) {
  .collection__card-swiper:after {
    border-radius: 12px;
  }
}

.collection__card:hover .collection__card-swiper:after {
  opacity: 1;
  border-radius: 32px;
}

@media (max-width: 1012px) {
  .collection__card:hover .collection__card-swiper:after {
    border-radius: 24px;
  }
}

.collection__card-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1760/880;
  background-size: calc(100% + 24px);
  background-position: center;
  overflow: hidden;
  transition: background-size 1000ms ease;
}

@media (max-width: 1012px) {
  .collection__card-swiper .swiper-slide {
    aspect-ratio: 366/480;
  }
}

.collection__card:hover .collection__card-swiper .swiper-slide {
  background-size: 100%;
}

.collection__card-swiper .swiper-slide video {
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  max-width: none;
  object-fit: cover;
  transition: width 1000ms ease, height 1000ms ease;
}

.collection__card:hover .collection__card-swiper .swiper-slide video {
  width: 100%;
  height: 100%;
}

.collection__card__tag {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--core-heat-white);
  color: var(--core-heat-black);
  padding: 10px 40px;
  border-radius: 24px 0 12px 0;
  transition: border-radius 1000ms ease;
}

@media (max-width: 1012px) {
  .collection__card__tag {
    padding: 8px 12px;
    border-radius: 12px 0;
  }
}

.collection__card:hover .collection__card__tag {
  border-radius: 32px 0 12px 0;
}

@media (max-width: 1012px) {
  .collection__card:hover .collection__card__tag {
    border-radius: 24px 0 12px 0;
  }
}

.collection__card__tag-pulse {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.collection__card__tag-pulse:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #ff0a30;
  filter: blur(6px);
  transform: translate3d(0, 0, 0); /* Fix blur in safari */
  border-radius: 100%;
  animation: 2s infinite collection-tag-pulse;
}

.collection__card__tag-pulse:after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #ff0a30;
  border-radius: 100%;
}

@keyframes collection-tag-pulse {
  0% {
    width: 0%;
    height: 0%;
  }

  75% {
    width: 100%;
    height: 100%;
  }

  to {
    width: 0%;
    height: 0%;
  }
}

.collection__card__tag-text {
  font: var(--desktop-diatype-cta);
  text-transform: uppercase;
}

@media (max-width: 1012px) {
  .collection__card__tag-text {
    font: var(--mobile-diatype-cta);
  }
}

.collection__card-action {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: rgba(var(--core-heat-white), 0.16);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@media (max-width: 1240px) {
  .collection__card-action {
    top: 24px;
    right: 24px;
    padding: 4px;
  }
}

@media (max-width: 1012px) {
  .collection__card-action {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: none;
    padding: 0;
    border-radius: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}

.collection__card-content {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

@media (max-width: 1240px) {
  .collection__card-content {
    padding: 24px;
    pointer-events: none;
  }
}

@media (max-width: 1012px) {
  .collection__card-content {
    width: 100%;
    padding: 16px;
  }
}

.collection__card-title {
  font: var(--desktop-diatype-h5);
  text-transform: uppercase;
  color: var(--core-heat-white);
}

@media (max-width: 1012px) {
  .collection__card-title {
    font: var(--mobile-diatype-s1);
  }
}

.collection__card-price {
  font: var(--desktop-diatype-h5);
  text-transform: uppercase;
  color: rgba(var(--core-heat-white-rgb), 0.8);
  margin-top: -6px;
}

@media (max-width: 1012px) {
  .collection__card-price {
    font: var(--mobile-diatype-s1);
    margin-top: 1px;
  }
}

.collection__card-divider {
  background: var(--core-divider-gradient-left);
  height: 1px;
  min-width: 560px;
  max-width: 640px;
  margin: 7px 0 20px;
}

@media (max-width: 1012px) {
  .collection__card-divider {
    width: 100%;
    min-width: auto;
    max-width: none;
    margin: 9px 0 13px;
  }
}

.collection__card__details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font: var(--desktop-diatype-b1);
  text-transform: uppercase;
  color: rgba(var(--core-heat-white-rgb), 0.8);
  margin-bottom: 24px;
}

@media (max-width: 1240px) {
  .collection__card__details {
    margin-bottom: 18px;
  }
}

@media (max-width: 1012px) {
  .collection__card__details {
    font: var(--mobile-diatype-b2);
    gap: 3px;
  }
}

.collection__card__details-value {
  color: var(--core-heat-white);
}

.collection__card__button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  pointer-events: auto;
}

.collection__card__button-primary,
.collection__card__button-secondary {
  font: var(--desktop-diatype-cta);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 192px;
  padding: 10px 16px;
  border-radius: 24px;
  transition: scale 250ms ease, border 250ms ease, box-shadow 250ms ease;
}

.collection__card__button-primary:hover,
.collection__card__button-secondary:hover {
  scale: 0.95;
}

@media (max-width: 1012px) {
  .collection__card__button-primary,
  .collection__card__button-secondary {
    font: var(--mobile-diatype-cta);
    min-width: auto;
    width: 50%;
  }
}

.collection__card__button-primary > *,
.collection__card__button-secondary > * {
  transition: scale 250ms ease;
}

.collection__card__button-primary:hover > *,
.collection__card__button-secondary:hover > * {
  scale: 1.05;
}

.collection__card__button-secondary {
  color: var(--core-heat-white);
  border: 1px solid rgba(var(--core-heat-white-rgb), 0.24);
}

.collection__card__button-primary {
  color: var(--core-heat-black);
  background: var(--core-heat-white);
  box-shadow: var(--core-outer-glow-white);
}

.collection__card__button-primary svg {
  width: 16px;
}

.collection__card__button-primary:hover {
  box-shadow: none;
}

.collection__card__button-secondary:hover {
  border: 1px solid var(--core-heat-white);
}

.collection__card__navigation {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1240px) {
  .collection__card__navigation {
    bottom: 24px;
    right: 24px;
  }
}

@media (max-width: 1012px) {
  .collection__card__navigation {
    display: none;
  }
}

.collection__card__navigation-next,
.collection__card__navigation-prev {
  width: 16px;
  cursor: pointer;
}

.collection__card__navigation-dots.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
}

.collection__card__navigation-dot {
  width: 8px;
  height: 8px;
  background: rgba(var(--core-heat-white-rgb), 0.24);
  border-radius: 16px;
  transition: background 300ms ease;
}

.collection__card__navigation-dot.active {
  background: var(--core-heat-white);
}
